.footer {
    border-top: 2px solid #ff2832;
    margin-top: 15px;
    background-color: #fff;
    width: 100%;

    a {
        color: #8c8c8c;
    }

    .footer_pic_new {
        background-color: #fafafa;
        border-bottom: 1px solid #ebebeb;
        min-width: 960px;

        .footer_pic_new_inner {
            width: 940px;
            margin: 0 auto;
            height: 68px;
            padding: 5px 0 5px 30px;

            a {
                display: block;
                height: 52px;
                width: 187px;
                float: left;
                padding: 7px 0 7px 48px;

                span {
                    text-indent: -9999px;
                    display: block;
                    width: 138px;
                    height: 52px;
                    background: url(../image/footer_bg.png) 0 0 no-repeat;
                    font-size: 0;
                    line-height: 0;
                    cursor: pointer;
                }
            }

            .footer_pic2 {
                span {
                    background-position: 0 -51px;
                }
            }

            .footer_pic3 {
                span {
                    background-position: 0 -103px;
                }
            }

            .footer_pic4 {
                span {
                    background-position: 0 -156px;
                }
            }
        }

    }

    .public_footer_new {
        width: 924px;
        height: 140px;
        margin: 0 auto;
        padding-top: 30px;

        .footer_sort {
            width: 154px;
            float: left;
            text-align: center;

            .f_title {
                display: block;
                padding-left: 30px;
                font-size: 14px;
                font-family: "microsoft yahei";
                color: #323232;
                height: 36px;
                line-height: 36px;


            }

            ul {
                padding-left: 30px;
                margin: 0;

                li {
                    line-height: 20px;
                    height: 20px;

                    a {
                        color: #7d7d7d;
                        font-size: 12px;
                    }

                    a:hover {
                        text-decoration: underline;
                        color: #f44d20;
                    }
                }
            }
        }

    }

    .footer_nav_box {
        border-top: 1px solid #ebebeb;
        width: 100%;
        min-width: 960px;
        padding: 17px 0 50px;
        font-size: 12px;
        float: none;

        .footer_nav {
            text-align: center;
            line-height: 20px;
            padding-bottom: 17px;

            a:hover {
                text-decoration: underline;
                color: #f48570;
            }

            .sep {
                margin: 0 17px 0 19px;
            }
        }

        .footer_copyright {
            img {
                border: none;
                vertical-align: middle;
            }

            padding: 10px 0 0 0;
            margin:0 auto;
            text-align: center;
            color: #8c8c8c;

            span {
                line-height: 20px;
                display: inline;
            }

            a {
                padding: 0 4px;
                font-size: 12px;
            }

            a:hover {
                color: #f48570;
            }

            .underline:hover {
                text-decoration: underline;
                color: #f48570;
            }
        }
    }

    .sep {
        margin: 0 17px 0 19px;

    }

    .footer_icon {
        padding: 10px 0 0 34px;
        width: 640px;
        margin: 0 auto;
        height: 77px;

        div {
            float: left;
            display: inline;
            padding: 15px 5px 15px;
            height: 47px;
        }
    }

}