.ad_bar_top {
    width: 100%;
    overflow: hidden;
    height: 300px;
    .ad_img_box {
        margin: 0 auto;
        width: 1200px;
        img{
            height: 300px;
            width: 1200px;
        }
    }
}
#index_content{    
    position: relative;
}
.nav_top{
    
}